<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/images/logo.png" alt="Your Logo"> <!-- Replace with your logo image path -->
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li><a href="https://www.linkedin.com/in/barath-srinivasan-b78b8b1ab/">Barath's Linkedin<i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/BarathSrinivasan2002">Barath's github<i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Barath Srinivasan. All rights reserved.</p>
    </div>
</footer>
